<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>_posts</string>
		<string>_layouts</string>
		<string>project</string>
		<string>js</string>
		<string>images</string>
		<string>css</string>
		<string>article</string>
		<string>_site</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>_layouts</key>
			<dict>
				<key>lastModification</key>
				<real>532780886.91268998</real>
				<key>version</key>
				<dict>
					<key>ca032b4df720a05a7ab26e66a568ac3b97ca155633fef28a3d941bef7c781c13</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>_posts</key>
			<dict>
				<key>lastModification</key>
				<real>532780890.34219098</real>
				<key>version</key>
				<dict>
					<key>ca032b4df720a05a7ab26e66a568ac3b97ca155633fef28a3d941bef7c781c13</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>_site</key>
			<dict>
				<key>lastModification</key>
				<real>532780886.912691</real>
				<key>version</key>
				<dict>
					<key>ca032b4df720a05a7ab26e66a568ac3b97ca155633fef28a3d941bef7c781c13</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>article</key>
			<dict>
				<key>lastModification</key>
				<real>532780886.912691</real>
				<key>version</key>
				<dict>
					<key>ca032b4df720a05a7ab26e66a568ac3b97ca155633fef28a3d941bef7c781c13</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>css</key>
			<dict>
				<key>lastModification</key>
				<real>532780886.912691</real>
				<key>version</key>
				<dict>
					<key>ca032b4df720a05a7ab26e66a568ac3b97ca155633fef28a3d941bef7c781c13</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>images</key>
			<dict>
				<key>lastModification</key>
				<real>532780886.912691</real>
				<key>version</key>
				<dict>
					<key>ca032b4df720a05a7ab26e66a568ac3b97ca155633fef28a3d941bef7c781c13</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>js</key>
			<dict>
				<key>lastModification</key>
				<real>532780886.912691</real>
				<key>version</key>
				<dict>
					<key>ca032b4df720a05a7ab26e66a568ac3b97ca155633fef28a3d941bef7c781c13</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>project</key>
			<dict>
				<key>lastModification</key>
				<real>532780886.91268998</real>
				<key>version</key>
				<dict>
					<key>ca032b4df720a05a7ab26e66a568ac3b97ca155633fef28a3d941bef7c781c13</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict/>
		<key>userIconName</key>
		<real>532781028.32246298</real>
	</dict>
	<key>sheetClusters</key>
	<array/>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>WordPress</string>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>ca032b4df720a05a7ab26e66a568ac3b97ca155633fef28a3d941bef7c781c13</key>
			<integer>8</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>ca032b4df720a05a7ab26e66a568ac3b97ca155633fef28a3d941bef7c781c13</key>
			<integer>2</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>ca032b4df720a05a7ab26e66a568ac3b97ca155633fef28a3d941bef7c781c13</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
